{% extends 'default.html' %}
{% load static %}
{% block title %} Wallam | Créer une annonce {% endblock %}
{% block menu %}
<ul class="nav navbar-nav">
    <li>
        <a href="{% url 'index' %}">Accueil</a>
    </li>
    <li>
        <a href="{% url 'create_campaign' %}">Créer une cagnotte</a>
    </li>
    <li class="current"><a href="{% url 'announce' %}">Créer une annonce</a></li>
</ul>
{% endblock %}
{% block content %}
<!-- start page-wrapper -->
<div class="page-wrapper shop-details-page">
    <!-- start sop-details-main-content -->
<section class="shop-details-main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="shop-single-slider-wrapper">
                    <div class="slider-for">
                        <div><img src="{% static 'images/shop/shop-details/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/img-1.jpg' %}" class="img img-responsive" alt></div>
                    </div>
                    <div class="slider-nav">
                        <div><img src="{% static 'images/shop/shop-details/thumb/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/thumb/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/thumb/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/thumb/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/thumb/img-1.jpg' %}" class="img img-responsive" alt></div>
                        <div><img src="{% static 'images/shop/shop-details/thumb/img-1.jpg' %}" class="img img-responsive" alt></div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="product-details">
                    <h2>{{ donation.title }}</h2>
                    <p>{{ donation.description }}</p>
                    <div class="product-option">
                        <div class="fst-row">
                            <span>Etat : </span><span>{{ donation.condition.title }}</span><br>
                            <span>Disponibilité : </span><span>{{ donation.availability.title }}</span>
                        </div>
                        <div style="padding-top:3%">
                            <span style="font-size:12px; font-weight: bold; color:#fff; text-transform: uppercase; padding:5px">Date d'expiration : {{ donation.expiration_date }}</span>
                        </div>
                        <div class="fst-row">
                            <span>Catégorie : </span><span>{{ donation.category }}</span><br>
                            <span>Localisation : </span><span>{{ donation.location }}</span>
                        </div>
                    </div> <!-- end option -->

                    <div class="share" style="margin-top:5% !important;">
                        <a href="#" class="bnt theme-btn">Réserver</a>
                    </div> <!-- end share -->
                </div> <!-- end product details -->
            </div> <!-- end col -->
        </div>
    </div>
</section>
</div>
{% endblock %}
