{% extends 'account/default.html' %}
{% load static %}
{% block connexion %}
<div class="form-items">
    <h3>Votre espace de générosité.</h3>
    <p>Connectez-vous pour créer une campagne, faire un don ou offrir des objets à ceux qui en ont besoin. Chaque geste compte.</p>
    <div class="page-links">
        <a href="{% url 'login' %}" class="active">Connexion</a><a href="{% url 'register' %}">Enregistrement</a>
    </div>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="username" placeholder="Email ou numéro de téléphone" required>
        <input class="form-control" type="password" name="password" placeholder="Mot de passe" required>
        <div class="form-button">
            <button id="submit" type="submit" class="ibtn">Se connecter</button> <a href="#">Mot de passe oublié ?</a>
        </div>
        </form>
    <div class="other-links">
        <span>Ou se connecter avec </span><a href="#">Google</a>
    </div>
</div>
{% endblock %}