{% extends 'default.html' %}
{% load static %}
{% block title %} Wallam | Creer une cagnotte {% endblock %}
{% block navi %}
<div class="container">
    <div class="navbar-header">
        <button type="button" class="open-btn">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <button class="close-navbar"><i class="fa fa-close"></i></button>
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'index' %}">Accueil</a>
            </li>
            <li class="current">
                <a href="{% url 'cagnotte' %}">Créer une cagnotte</a>
            </li>
            <li>
                <a href="{% url 'annonce' %}">Créer une annonce</a>
            </li>
            <li>
                <a href="{% url 'works' %}">COMMENT CA MARCHE ?</a>
            </li>
            <li><a href="{% url 'contact' %}">CONTACT</a></li>
        </ul>
    </div><!-- end of nav-collapse -->

    <div class="navbar-right social-links-mini-cart">
        <ul class="mini-cart-wrapper">
            <li>
                <a href="#" class="mini-cart-btn">
                    <i class="fi flaticon-bag-1"></i>
                    <span class="item-count">21</span>
                </a>
                <ul class="mini-cart">
                    <li class="item">
                        <div class="product-img">
                            <img src="{% static 'images/shop/thumb/img-1.jpg' %}" alt="">
                        </div>
                        <div class="product-details">
                            <h6>Name of the product</h6>
                            <p>$255.5</p>
                            <a href="#"><i class="fi flaticon-garbage"></i></a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <img src="{% static 'images/shop/thumb/img-2.jpg' %}" alt="">
                        </div>
                        <div class="product-details">
                            <h6>Name of the product</h6>
                            <p>$155.5</p>
                            <a href="#"><i class="fi flaticon-garbage"></i></a>
                        </div>
                    </li>
                    <li class="minicart-price-total">
                        <div class="price-total">
                            <span class="label-price-total">Subtotal</span>
                            <div class="price-total-w">
                                <span>255.5</span>
                            </div>
                        </div>

                        <div class="checkout-btn">
                            <a class="btn theme-btn">Proceed to checkout</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul> <!-- end mini-cart -->
    </div>
</div><!-- end of container -->
{% endblock %}
{% block content %}
<div class="page-wrapper about-page">
    <!-- start page-title -->
    <section class="page-title">
        <div class="page-title-bg"></div>
        <div class="container">
            <div class="title-box">
                <h1>Créer une cagnotte</h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Accueil</a></li>
                    <li class="active">Créer une cagnotte</li>
                </ol>
            </div>
        </div> <!-- end container -->
    </section>
    <!-- end page-title -->
    <section></section>
    <!-- start cta -->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col col-md-5 col-sm-5">
                    <img src="{% static 'images/cta-t-shirt.png' %}" alt class="img img-responsive">
                </div>

                <div class="col col-md-6 col-md-offset-1 col-sm-7">
                    <div class="cta-details wow fadeInRightSlow">
                        <h2>Faites un Don</h2>
                        <p>Lancez votre campagne de levée de fond sur WALLAM gratuitement.</p>
                        <a href="#" class="btn theme-btn">Levée une campagne de levée de fonds</a>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end cta -->
    <section class="about-st3 section-padding">
        <div class="container">
            <div class="row">
                <div class="col col-md-12">
                    <div class="right-col">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default current">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">Santé (médical)</a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>La prise en charge de certaines maladies rares, des traitements innovants pour ralentir l’évolution de la maladie, des frais d’hospitalisations, des opérations d’urgences et des évacuations sanitaires par les patients devient un vrai parcours du combattant en Afrique. Wallam permet de lancer une campagne de collecte pour soulager les familles confrontées à la maladie.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Commémoration</a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Wallam permet aux membres de famille qui traversent des périodes difficiles suite au décès d’un proche, de collecter des fonds pour organiser des funérailles. Grace à wallam, rendez des hommages à vos proches.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Urgences et catastrophe </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>De nombreuses personnes ayant vécu une inondation, un éboulement de terrain, un incendie, un accident et autres ont eu du mal à trouver de moyens financier pour faire face à ces catastrophes. Wallam permet donc de récolter des fonds en urgences pour venir en aide aux sinistrés.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Association </a>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Pour faciliter la vie aux associations, wallam permet de collecter de fonds pour les organisations caritatives, culturelles, politique, sportives ou tout autres soutenant des causes qui les tiennent à cœur.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Communautaire</a>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Wallam permet de collecter des fonds pour les activités communautaires auprès de personnes partageant un ensemble de similitudes pour une cause spécifique, sociale et caritatives.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Religion</a>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Les organisations religieuses comptent que sur les dons de leurs membres pour répondre à leurs besoins financiers. Qu’ils s’agissent de la rénovation de temple, de la construction d’une enceinte, des offrandes, de la zakat, ou tout autres travaux d’une église ou d’une mosquée, wallam permet de levée de fonds aux près de la communauté religieuse.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Sport</a>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Grace à wallam, lancez une campagne de collecte de fonds pour une activité sportive, qui aidera les personnes prometteuses à faire face aux défis. Que vous soyez un supporter, un fan, un club sportif, aidez les talents à développer leurs enthousiasmes et compétences.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Musiques et Loisirs</a>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Wallam permet aux créateurs de contenus, écrivains, artistes et musiciens de lancez une campagne de collecte de fonds pour le financement de leurs projets de musique, de cinéma, de contenus, etc.  Que vous soyez un fan, une maison de production, un manager, aidez les talents à développer leurs enthousiasmes et compétences.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Education</a>
                                </div>
                                <div id="collapseNine" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Wallam permet la collecte de fonds pour l’éducation, l’aide aux frais de scolarité, les fournitures scolaires ou programme parascolaire. Que vous soyez enseignants, étudiants, parents, vous avez la possibilité de donner droit à l’éducation aux enfants démunis grâce à notre système simple et fiable de collecte de fonds.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Education</a>
                                </div>
                                <div id="collapseTen" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Wallam permet aux associations et particuliers de collecter des fonds pour organiser des événements qui les passionnent.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Faire un Don</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align: end">
                                            <div class="more-causes" style="padding: 5% !important">
                                                <a href="#" class="btn theme-btn">Lancez une campagne et aidez un proche</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <h5>Quelques soit votre projet de santé, vous trouverez de l’aide sur wallam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end gallery-st2 -->

</div>
<!-- start gallery-st2 -->
{% endblock %}