{% extends 'default.html' %}
{% load static %}
{% block title %} Wallam | Comment ça marche ? {% endblock %}
{% block navi %}
<div class="container">
    <div class="navbar-header">
        <button type="button" class="open-btn">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <button class="close-navbar"><i class="fa fa-close"></i></button>
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'index' %}">Accueil</a>
            </li>
            <li>
                <a href="#">Créer une cagnotte</a>
            </li>
            <li>
                <a href="{% url 'annonce' %}">Créer une annonce</a>
            </li>
            <li class="current">
                <a href="{% url 'works' %}">COMMENT CA MARCHE ?</a>
            </li>
            <li><a href="{% url 'contact' %}">CONTACT</a></li>
        </ul>
    </div><!-- end of nav-collapse -->

    <div class="navbar-right social-links-mini-cart">
        <ul class="mini-cart-wrapper">
            <li>
                <a href="#" class="mini-cart-btn">
                    <i class="fi flaticon-bag-1"></i>
                    <span class="item-count">21</span>
                </a>
                <ul class="mini-cart">
                    <li class="item">
                        <div class="product-img">
                            <img src="{% static 'images/shop/thumb/img-1.jpg' %}" alt="">
                        </div>
                        <div class="product-details">
                            <h6>Name of the product</h6>
                            <p>$255.5</p>
                            <a href="#"><i class="fi flaticon-garbage"></i></a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <img src="{% static 'images/shop/thumb/img-2.jpg' %}" alt="">
                        </div>
                        <div class="product-details">
                            <h6>Name of the product</h6>
                            <p>$155.5</p>
                            <a href="#"><i class="fi flaticon-garbage"></i></a>
                        </div>
                    </li>
                    <li class="minicart-price-total">
                        <div class="price-total">
                            <span class="label-price-total">Subtotal</span>
                            <div class="price-total-w">
                                <span>255.5</span>
                            </div>
                        </div>

                        <div class="checkout-btn">
                            <a class="btn theme-btn">Proceed to checkout</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul> <!-- end mini-cart -->
    </div>
</div><!-- end of container -->
{% endblock %}
{% block content %}
<!-- start page-wrapper -->
    <div class="page-wrapper about-page">

        <!-- start page-title -->
        <section class="page-title">
            <div class="page-title-bg"></div>
            <div class="container">
                <div class="title-box">
                    <h1>Comment ça marche ?</h1>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Accueil</a></li>
                        <li class="active">Comment ça marche ?</li>
                    </ol>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start about-details -->
        <section class="about-us-st section-padding">
            <div class="container">
                <h2><span>Comment</span> ça marche ?</h2>
                <div class="row">
                    <div class="col col-md-6">
                        <div class="left-col">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default current">
                                    <div class="panel-heading" id="headingOne">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">1 - Choissez votre action <i class="fa fa-angle-down"></i></a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="img-holder">
                                                <img src="{% static 'images/about/thumb/img-1.jpg' %}" alt>
                                            </div>
                                            <div class="details">
                                                <p>
                                                    <ul style="list-style-type: square !important">
                                                        <li>Démarrez votre cagnotte</li>
                                                        <li>Faire un Don (financier, objet ou nourriture)</li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingTwo">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2 - Publier sur Wallam <i class="fa fa-angle-down"></i></a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="img-holder">
                                                <img src="{% static 'images/about/thumb/img-1.jpg' %}" alt>
                                            </div>
                                            <div class="details">
                                                <p>
                                                    <ul style="list-style-type: square">
                                                        <li>Décrivez là</li>
                                                        <li>Ajouter une photo ou une vidéo</li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingThree">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3 - Partagez à vos amis <i class="fa fa-angle-down"></i></a>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="img-holder">
                                                <img src="{% static 'images/about/thumb/img-1.jpg' %}" alt>
                                            </div>
                                            <div class="details">
                                                <p>
                                                    <ul style="list-style-type: square">
                                                        <li>Invitez vos proches à participer</li>
                                                        <li>Partagez sur les réseaux sociaux</li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingFour">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4 - Gérez vos dons <i class="fa fa-angle-down"></i></a>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="img-holder">
                                                <img src="{% static 'images/about/thumb/img-1.jpg' %}" alt>
                                            </div>
                                            <div class="details">
                                                <p>
                                                    <ul style="list-style-type: square">
                                                        <li>Accepter les dons</li>
                                                        <li>Remerciez vos donateurs</li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end left-col -->
                    </div> <!-- end col -->

                    <div class="col col-md-6 wow fadeInRightSlow">
                        <div class="right-col">
                            <div class="video">
                                <img src="{% static 'images/about/video-poster.jpg' %}" alt="" class="img img-responsive">
                                <a href="https://www.youtube.com/embed/opj24KnzrWo?autoplay=1"  class="video-btn" data-type="iframe"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end about-details -->


        <!-- start cta-4 -->
        <section class="cta-4 section-padding">
            <h2 class="hidden">CTA 4</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="wow fadeInLeftSlow">
                            <span class="icon"><i class="fi flaticon-money-1"></i></span>
                            <h3>Donate money</h3>
                            <p>Perspiciatis unde omnis iste natus error sit vo luptatem</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="wow fadeInLeftSlow" data-wow-delay="0.3s">
                            <span class="icon"><i class="fi flaticon-heart"></i></span>
                            <h3>Become volunteer</h3>
                            <p>Perspiciatis unde omnis iste natus error sit vo luptatem</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="wow fadeInLeftSlow" data-wow-delay="0.6s">
                            <span class="icon"><i class="fi flaticon-business-1"></i></span>
                            <h3>Sponsorship</h3>
                            <p>Perspiciatis unde omnis iste natus error sit vo luptatem</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end cta-4 -->

    </div>
    <!-- end of page-wrapper -->
{% endblock %}