{% extends 'default.html' %}
{% load static %}
{% block title %} Wallam | Accueil {% endblock %}
{% block menu %}
<ul class="nav navbar-nav">
    <li class="current">
        <a href="{% url 'index' %}">Accueil</a>
    </li>
    <li class="">
        <a href="{% url 'create_campaign' %}">Créer une cagnotte</a>
    </li>
    <li><a href="{% url 'announce' %}">Créer une annonce</a></li>
</ul>
{% endblock %}
{% block content %}
<!-- start of hero -->
<section class="hero hero-style-three hero-slider-wrapper">
    <div class="hero-slider">
        <div class="slide">
            <img src="{% static 'images/slider/slide-3.jpg' %}" alt>
            <div class="container">
                <div class="col col-sm-8 slider-title">
                    <h1>The most elegant <span>creature</span> is in grave <span>danger.</span></h1>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                    <a href="#" class="btn theme-btn">Case study</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="{% static 'images/slider/slide-2.jpg' %}" alt>
            <div class="container">
                <div class="col col-sm-8 slider-title">
                    <h1>The most elegant <span>creature</span> is in grave <span>danger.</span></h1>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                    <a href="#" class="btn theme-btn">Case study</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="{% static 'images/slider/slide-1.jpg' %}" alt>
            <div class="container">
                <div class="col col-sm-8 slider-title">
                    <h1>The most elegant <span>creature</span> is in grave <span>danger.</span></h1>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                    <a href="#" class="btn theme-btn">Case study</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of hero slider -->


<!-- start urgent-donation -->
<section class="urgent-donation">
    <div class="container">
        <div class="row urgent-inner">
            <div class="col col-lg-10 col-lg-offset-1">
                <div class="urgent-slider">
                    {% for urgent in urgents %}
                    <div class="urgent-box">
                        <div class="img-holder">
                            <img src="{{ urgent.get_image_url }}" alt="{{ urgent.title }}" class="img img-responsive">
                        </div>
                        <div class="details">
                            <span>Urgent</span>
                            <h2>{{ urgent.title }}</h2>
                            <p class="remaing-date">{{ urgent.days_remaining }} jours restants</p>
                            <div class="progress-wrapper">
                                <div class="progress">
                                    <div class="progress-bar" data-percent="{{ urgent.percentage_collected }}"></div>
                                </div>
                            </div>
                            <div class="goal-raised">
                                <div class="goal">
                                    <span>Objectif</span>
                                    <h4>{{ urgent.goal }}</h4>
                                </div>
                                <div class="raised">
                                    <span>Raised</span>
                                    <h4>{{ urgent.amount_collected }}</h4>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                            <form action="{% url 'campaign_donate' pk=urgent.pk %}" class="form" method="post">
                                {% csrf_token %}
                                <div>
                                    <input type="number" name="amount" class="form-control" placeholder="- ENTRER LE MONTANT -" required>
                                </div>
                                <div>
                                    <button type="submit" class="btn theme-btn">Donation</button>
                                </div>
                            </form>
                            {% else %}
                            <div style="text-align: right; margin-top:15%;">
                                <a href="{% url 'campaign_donate' pk=urgent.pk %}" class="btn theme-btn">FAIRE UN DON</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- end urgent-slider -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end urgent-donation -->


<!-- start cta-4 -->
<section class="cta-4 section-padding">
    <div class="cta-details wow fadeInRightSlow">
        <h4 style="margin-top:-3% !important; padding-bottom: 3% !important">VOTRE PLATEFORME DE DON TRANSPARANTE POUR VOUS ET VOS DONATEURS</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-sm-4">
                <div class="wow fadeInLeftSlow">
                    <span class="icon"><i class="fi flaticon-money-1"></i></span>
                    <h3>Démarrer une cagnotte</h3>
                    <p>Collecter en toute tranquillité</p>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="wow fadeInLeftSlow" data-wow-delay="0.5s">
                    <span class="icon"><i class="fi flaticon-heart"></i></span>
                    <h3>Soutenir une cause</h3>
                    <p>Faite un don en toute sécurité</p>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="wow fadeInLeftSlow" data-wow-delay="1s">
                    <span class="icon"><i class="fi flaticon-business-1"></i></span>
                    <h3>Offrir un objet</h3>
                    <p>Donnez vos objets inutilisés</p>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end cta-4 -->
<!-- start cta -->
<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col col-md-5 col-sm-5">
                <img src="{% static 'images/latest-causes/communaute.png' %}" alt class="img img-responsive">
            </div>

            <div class="col col-md-6 col-md-offset-1 col-sm-7">
                <div class="cta-details wow fadeInRightSlow">
                    <h2>Rejoignez la communauté de <span>cagnotte</span> WALLAM.</h2>
                    <p>Le lancement d’une collecte de fonds sur wallam est 100% gratuit.
                        Wallam vous donne les moyens nécessaires pour réunir les fonds dont
                        vous avez besoins en toute sécurité.
                    </p>
                    <a href="{% url 'create_campaign' %}" class="btn theme-btn">LANCEZ UNE CAGNOTTE MAINTENANT !</a>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end cta -->

<!-- start latest-causes -->
<section class="latest-causes section-padding">
    <div class="container">
        <div class="row section-title-s2">
            <div class="col col-xs-12">
                <h2><span>Cagnottes</span> Disponibles</h2>
            </div>
        </div> <!-- end section-title -->

        <div class="row content">
            {% for campaign in campaigns %}
            <div class="col col-md-4 col-xs-6">
                <div class="title">
                    <ul>
                        <li><h3>{{  campaign.title }}</h3></li>
                        <li><i class="fa fa-map-marker"></i> {{  campaign.category }}</li>
                    </ul>
                </div>
                <div class="img-progress">
                    <div class="img-holder">
                        {% if campaign.uploaded_files %}
                            <img src="{{ campaign.uploaded_files.url }}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Sante' %}
                            <img src="{% static 'images/latest-causes/sante.jpg' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Education' %}
                            <img src="{% static 'images/latest-causes/education.jpg' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Urgence' %}
                            <img src="{% static 'images/latest-causes/urgence.png' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Commemoration' %}
                            <img src="{% static 'images/latest-causes/commemoration.jpg' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Association' %}
                            <img src="{% static 'images/latest-causes/association.jpg' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Education' %}
                            <img src="{% static 'images/latest-causes/education.jpg' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Benevolat' %}
                            <img src="{% static 'images/latest-causes/benevolat.jpg' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Religion' %}
                            <img src="{% static 'images/latest-causes/religion.png' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Sport' %}
                            <img src="{% static 'images/latest-causes/sport.png' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% elif campaign.category.name == 'Solidarite' %}
                            <img src="{% static 'images/latest-causes/solidarite.jpg' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% else %}
                            <img src="{% static 'images/latest-causes/default.jpg' %}" alt="{{ campaign.title }}" class="img img-responsive">
                        {% endif %}
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="{{ campaign.percentage_collected }}"></div>
                    </div>
                </div>
                <div class="donate-amount">
                    <ul>
                        <li style="font-size:12px">Objectifs: <span>{{ campaign.amount_collected }} FCFA</span> / {{ campaign.goal }} FCFA</li>
                        <li style="font-size:12px"><i class="fa fa-clock-o"></i> {{ campaign.days_remaining }} jours</li>
                    </ul>
                </div>
                <div class="text">
                    <p style="text-align: justify;">{{ campaign.description|truncatechars:100 }}</p>
                    <a href="{% url 'campaign_donate' pk=campaign.id %}" class="btn theme-btn">Faire un Don</a>
                </div>
            </div>
            {% endfor %}
        </div> <!-- end content -->
    </div> <!-- end container -->
</section>
<!-- end latest-causes -->

<!-- start cta-3 -->
<section class="cta-3">
    <div class="container">
        <div class="row">
            <div class="col col-md-7 col-md-offset-5 details-text">
                <div class="wow fadeInRightSlow">
                    <h2>Votre petite <span>attention</span> signifie beaucoup</h2>
                    <p>La charité fait beaucoup plus de bien à celui qui donne qu’à celui qui reçoit.
                        Wallam rend le don accessible à tous et partout en Afrique. </p>
                    <a href="{% url 'announce' %}" class="btn theme-btn">Offrez un objet maintenant !</a>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end cta-3 -->


<!-- start shop-main-content -->
<section class="shop-main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="shop-content latest-product-slider">
                    {% for announce in announces %}
                    <div class="grid">
                        <div class="box">
                            <div class="img-holder">
                                <img src="{% static 'images/shop/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3><a href="{% url 'donation_detail' pk=announce.pk %}">{{ announce.title }}</a></h3>
                                <a href="#" class="add-to-cart">Etat : </i> {{ announce.condition.title }}</a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- end shop-content -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end shop-main-content -->
{% endblock %}
