{% extends 'default.html' %}
{% load static %}
{% block title %} Wallam | Accueil {% endblock %}
{% block menu %}
<ul class="nav navbar-nav">
    <li class="current">
        <a href="#">Accueil</a>
    </li>
    <li class="">
        <a href="#">Créer une cagnotte</a>
    </li>
    <li><a href="#">Créer une annonce</a></li>
</ul>
{% endblock %}
{% block content %}
<!-- start of hero -->
<section class="hero hero-style-three hero-slider-wrapper">
    <div class="hero-slider">
        <div class="slide">
            <img src="{% static 'images/slider/slide-3.jpg' %}" alt>
            <div class="container">
                <div class="col col-sm-8 slider-title">
                    <h1>The most elegant <span>creature</span> is in grave <span>danger.</span></h1>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                    <a href="#" class="btn theme-btn">Case study</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="{% static 'images/slider/slide-2.jpg' %}" alt>
            <div class="container">
                <div class="col col-sm-8 slider-title">
                    <h1>The most elegant <span>creature</span> is in grave <span>danger.</span></h1>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                    <a href="#" class="btn theme-btn">Case study</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="{% static 'images/slider/slide-1.jpg' %}" alt>
            <div class="container">
                <div class="col col-sm-8 slider-title">
                    <h1>The most elegant <span>creature</span> is in grave <span>danger.</span></h1>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                    <a href="#" class="btn theme-btn">Case study</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of hero slider -->


<!-- start urgent-donation -->
<section class="urgent-donation">
    <div class="container">
        <div class="row urgent-inner">
            <div class="col col-lg-10 col-lg-offset-1">
                <div class="urgent-slider">
                    <div class="urgent-box">
                        <div class="img-holder">
                            <img src="{% static 'images/urgent-slider/img-2.jpg' %}" alt class="img img-responsive">
                        </div>
                        <div class="details">
                            <span>Urgent</span>
                            <h2>Kids promenade party</h2>
                            <p class="remaing-date">3 days remaining</p>
                            <div class="progress-wrapper">
                                <div class="progress">
                                    <div class="progress-bar" data-percent="85"></div>
                                </div>
                            </div>
                            <div class="goal-raised">
                                <div class="goal">
                                    <span>Goal</span>
                                    <h4>12,500</h4>
                                </div>
                                <div class="raised">
                                    <span>Raised</span>
                                    <h4>12,500</h4>
                                </div>
                            </div>
                            <form action="#" class="form">
                                <div>
                                    <input type="text" class="form-control" placeholder="- ENTER AMOUNT -" required>
                                </div>
                                <div>
                                    <button type="submit" class="btn theme-btn">Donate</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="urgent-box">
                        <div class="img-holder">
                            <img src="{% static 'images/urgent-slider/img-2.jpg' %}" alt class="img img-responsive">
                        </div>
                        <div class="details">
                            <span>Urgent</span>
                            <h2>Kids promenade party</h2>
                            <p class="remaing-date">3 days remaining</p>
                            <div class="progress-wrapper">
                                <div class="progress">
                                    <div class="progress-bar" data-percent="85"></div>
                                </div>
                                <div class="goal-raised">
                                    <div class="goal">
                                        <span>Goal</span>
                                        <h4>12,500</h4>
                                    </div>
                                    <div class="raised">
                                        <span>Raised</span>
                                        <h4>12,500</h4>
                                    </div>
                                </div>
                                <form action="#" class="form">
                                    <div>
                                        <input type="text" class="form-control" placeholder="- Enter Amount -" required>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn theme-btn">Donate</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end urgent-slider -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end urgent-donation -->


<!-- start cta-4 -->
<section class="cta-4 section-padding">
    <div class="cta-details wow fadeInRightSlow">
        <h4 style="margin-top:-3% !important; padding-bottom: 3% !important">VOTRE PLATEFORME DE DON TRANSPARANTE POUR VOUS ET VOS DONATEURS</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-sm-4">
                <div class="wow fadeInLeftSlow">
                    <span class="icon"><i class="fi flaticon-money-1"></i></span>
                    <h3>Démarrer une cagnotte</h3>
                    <p>Collecter en toute tranquillité</p>
                    <a href="#" class="read-more">En savoir plus ...</a>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="wow fadeInLeftSlow" data-wow-delay="0.5s">
                    <span class="icon"><i class="fi flaticon-heart"></i></span>
                    <h3>Soutenir une cause</h3>
                    <p>Faite un don en toute sécurité</p>
                    <a href="#" class="read-more">En savoir plus ...</a>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="wow fadeInLeftSlow" data-wow-delay="1s">
                    <span class="icon"><i class="fi flaticon-business-1"></i></span>
                    <h3>Offrir un objet</h3>
                    <p>Donnez vos objets inutilisés</p>
                    <a href="#" class="read-more">En savoir plus ...</a>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end cta-4 -->
<!-- start cta -->
<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col col-md-5 col-sm-5">
                <img src="{% static 'images/cta-cartoon.png' %}" alt class="img img-responsive">
            </div>

            <div class="col col-md-6 col-md-offset-1 col-sm-7">
                <div class="cta-details wow fadeInRightSlow">
                    <h2>Rejoignez la communauté de <span>cagnotte</span> WALLAM.</h2>
                    <p>Le lancement d’une collecte de fonds sur wallam est 100% gratuit.
                        Wallam vous donne les moyens nécessaires pour réunir les fonds dont
                        vous avez besoins en toute sécurité.
                    </p>
                    <a href="#" class="btn theme-btn">LANCEZ UNE CAGNOTTE MAINTENANT !</a>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end cta -->

<!-- start latest-causes -->
<section class="latest-causes section-padding">
    <div class="container">
        <div class="row section-title-s2">
            <div class="col col-xs-12">
                <h2><span>Cagnottes</span> Disponibles</h2>
            </div>
        </div> <!-- end section-title -->

        <div class="row content">
            <div class="col col-md-4 col-xs-6">
                <div class="title">
                    <ul>
                        <li><h3>Kids playground</h3></li>
                        <li><i class="fa fa-map-marker"></i> Boston, Texas</li>
                    </ul>
                </div>
                <div class="img-progress">
                    <div class="img-holder">
                        <img src="{% static 'images/latest-causes/img-1.jpg' %}" alt class="img img-responsive">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="85"></div>
                    </div>
                </div>
                <div class="donate-amount">
                    <ul>
                        <li>Raised: <span>$52,872</span> / $70,000</li>
                        <li><i class="fa fa-clock-o"></i> 95 days</li>
                    </ul>
                </div>
                <div class="text">
                    <p>Iste natus error sit voluptatem accusantium dolo remque laudantium.</p>
                    <a href="#" class="btn theme-btn">Donate now</a>
                </div>
            </div>

            <div class="col col-md-4 col-xs-6">
                <div class="title">
                    <ul>
                        <li><h3>Kids playground</h3></li>
                        <li><i class="fa fa-map-marker"></i> Boston, Texas</li>
                    </ul>
                </div>
                <div class="img-progress">
                    <div class="img-holder">
                        <img src="{% static 'images/latest-causes/img-1.jpg' %}" alt class="img img-responsive">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="55"></div>
                    </div>
                </div>
                <div class="donate-amount">
                    <ul>
                        <li>Raised: <span>$52,872</span> / $70,000</li>
                        <li><i class="fa fa-clock-o"></i> 95 days</li>
                    </ul>
                </div>
                <div class="text">
                    <p>Iste natus error sit voluptatem accusantium dolo remque laudantium.</p>
                    <a href="#" class="btn theme-btn">Donate now</a>
                </div>
            </div>

            <div class="col col-md-4 col-xs-6">
                <div class="title">
                    <ul>
                        <li><h3>Kids playground</h3></li>
                        <li><i class="fa fa-map-marker"></i> Boston, Texas</li>
                    </ul>
                </div>
                <div class="img-progress">
                    <div class="img-holder">
                        <img src="{% static 'images/latest-causes/img-1.jpg' %}" alt class="img img-responsive">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="25"></div>
                    </div>
                </div>
                <div class="donate-amount">
                    <ul>
                        <li>Raised: <span>$52,872</span> / $70,000</li>
                        <li><i class="fa fa-clock-o"></i> 95 days</li>
                    </ul>
                </div>
                <div class="text">
                    <p>Iste natus error sit voluptatem accusantium dolo remque laudantium.</p>
                    <a href="#" class="btn theme-btn">Donate now</a>
                </div>
            </div>

            <div class="col col-md-4 col-xs-6">
                <div class="title">
                    <ul>
                        <li><h3>Kids playground</h3></li>
                        <li><i class="fa fa-map-marker"></i> Boston, Texas</li>
                    </ul>
                </div>
                <div class="img-progress">
                    <div class="img-holder">
                        <img src="{% static 'images/latest-causes/img-1.jpg' %}" alt class="img img-responsive">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="95"></div>
                    </div>
                </div>
                <div class="donate-amount">
                    <ul>
                        <li>Raised: <span>$52,872</span> / $70,000</li>
                        <li><i class="fa fa-clock-o"></i> 95 days</li>
                    </ul>
                </div>
                <div class="text">
                    <p>Iste natus error sit voluptatem accusantium dolo remque laudantium.</p>
                    <a href="#" class="btn theme-btn">Donate now</a>
                </div>
            </div>

            <div class="col col-md-4 col-xs-6">
                <div class="title">
                    <ul>
                        <li><h3>Kids playground</h3></li>
                        <li><i class="fa fa-map-marker"></i> Boston, Texas</li>
                    </ul>
                </div>
                <div class="img-progress">
                    <div class="img-holder">
                        <img src="{% static 'images/latest-causes/img-1.jpg' %}" alt class="img img-responsive">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="70"></div>
                    </div>
                </div>
                <div class="donate-amount">
                    <ul>
                        <li>Raised: <span>$52,872</span> / $70,000</li>
                        <li><i class="fa fa-clock-o"></i> 95 days</li>
                    </ul>
                </div>
                <div class="text">
                    <p>Iste natus error sit voluptatem accusantium dolo remque laudantium.</p>
                    <a href="#" class="btn theme-btn">Donate now</a>
                </div>
            </div>

            <div class="col col-md-4 col-xs-6">
                <div class="title">
                    <ul>
                        <li><h3>Kids playground</h3></li>
                        <li><i class="fa fa-map-marker"></i> Boston, Texas</li>
                    </ul>
                </div>
                <div class="img-progress">
                    <div class="img-holder">
                        <img src="{% static 'images/latest-causes/img-1.jpg' %}" alt class="img img-responsive">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percent="15"></div>
                    </div>
                </div>
                <div class="donate-amount">
                    <ul>
                        <li>Raised: <span>$52,872</span> / $70,000</li>
                        <li><i class="fa fa-clock-o"></i> 95 days</li>
                    </ul>
                </div>
                <div class="text">
                    <p>Iste natus error sit voluptatem accusantium dolo remque laudantium.</p>
                    <a href="#" class="btn theme-btn">Donate now</a>
                </div>
            </div>
        </div> <!-- end content -->
    </div> <!-- end container -->
</section>
<!-- end latest-causes -->

<!-- start cta-3 -->
<section class="cta-3">
    <div class="container">
        <div class="row">
            <div class="col col-md-7 col-md-offset-5 details-text">
                <div class="wow fadeInRightSlow">
                    <h2>Votre petite <span>attention</span> signifie beaucoup</h2>
                    <p>La charité fait beaucoup plus de bien à celui qui donne qu’à celui qui reçoit.
                        Wallam rend le don accessible à tous et partout en Afrique. </p>
                    <a href="#" class="btn theme-btn">Offrez un objet maintenant !</a>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end cta-3 -->


<!-- start shop-main-content -->
<section class="shop-main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="shop-content latest-product-slider">
                    <div class="grid">
                        <div class="box">
                            <div class="img-holder">
                                <img src="{% static 'images/shop/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3><a href="#">Skincare Product</a></h3>
                                <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="box">
                            <div class="img-holder">
                                <img src="{% static 'images/shop/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3><a href="#">Skincare Product</a></h3>
                                <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="box">
                            <div class="img-holder">
                                <img src="{% static 'images/shop/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3><a href="#">Skincare Product</a></h3>
                                <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="box">
                            <div class="img-holder">
                                <img src="{% static 'images/shop/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3><a href="#">Skincare Product</a></h3>
                                <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="box">
                            <div class="img-holder">
                                <img src="{% static 'images/shop/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3><a href="#">Skincare Product</a></h3>
                                <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="box">
                            <div class="img-holder">
                                <img src="{% static 'images/shop/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3><a href="#">Skincare Product</a></h3>
                                <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end shop-content -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end shop-main-content -->
{% endblock %}
