{% extends 'default.html' %}
{% load static %}
{% block title %} Wallam | Comment ça marche ? {% endblock %}
{% block navi %}
<div class="container">
    <div class="navbar-header">
        <button type="button" class="open-btn">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <button class="close-navbar"><i class="fa fa-close"></i></button>
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'index' %}">Accueil</a>
            </li>
            <li>
                <a href="#">Créer une cagnotte</a>
            </li>
            <li>
                <a href="{% url 'annonce' %}">Créer une annonce</a>
            </li>
            <li class="current">
                <a href="{% url 'works' %}">COMMENT CA MARCHE ?</a>
            </li>
            <li><a href="{% url 'contact' %}">CONTACT</a></li>
        </ul>
    </div><!-- end of nav-collapse -->

    <div class="navbar-right social-links-mini-cart">
        <ul class="mini-cart-wrapper">
            <li>
                <a href="#" class="mini-cart-btn">
                    <i class="fi flaticon-bag-1"></i>
                    <span class="item-count">21</span>
                </a>
                <ul class="mini-cart">
                    <li class="item">
                        <div class="product-img">
                            <img src="{% static 'images/shop/thumb/img-1.jpg' %}" alt="">
                        </div>
                        <div class="product-details">
                            <h6>Name of the product</h6>
                            <p>$255.5</p>
                            <a href="#"><i class="fi flaticon-garbage"></i></a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="product-img">
                            <img src="{% static 'images/shop/thumb/img-2.jpg' %}" alt="">
                        </div>
                        <div class="product-details">
                            <h6>Name of the product</h6>
                            <p>$155.5</p>
                            <a href="#"><i class="fi flaticon-garbage"></i></a>
                        </div>
                    </li>
                    <li class="minicart-price-total">
                        <div class="price-total">
                            <span class="label-price-total">Subtotal</span>
                            <div class="price-total-w">
                                <span>255.5</span>
                            </div>
                        </div>

                        <div class="checkout-btn">
                            <a class="btn theme-btn">Proceed to checkout</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul> <!-- end mini-cart -->
    </div>
</div><!-- end of container -->
{% endblock %}
{% block content %}
<!-- start page-wrapper -->
    <div class="page-wrapper shop-page">
        <!-- start page-title -->
        <section class="page-title">
            <div class="page-title-bg"></div>
            <div class="container">
                <div class="title-box">
                    <h1>Tarifs</h1>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Accueil</a></li>
                        <li class="active">Tarifs</li>
                    </ol>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start about-st2 -->
        <section class="about-st2 section-padding">
            <h2 class="hidden">About us</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="content">
                            <div class="left-col">
                                <span>Nos tarifs sont conçus en pourcentage pour faciliter et accueillir tous les élans de générosité et de solidarité.</span>
                                <p>
                                    <h6>Création</h6>
                                </p>
                                <p>
                                    <h6>Participation</h6>
                                </p>
                                <p>
                                    <h6>Dépenses</h6>
                                </p>
                            </div>

                            <div class="right-col raised-chart">
                                <canvas id="chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end about-st2 -->
    </div>
    <!-- end of page-wrapper -->
{% endblock %}